
{% extends 'base.html' %}
{% block content %}
{% load static %}

  <div class="page-header" data-parallax="true" style="background-image: url('{% static 'img/daniel-olahh.jpg' %}");">
    <div class="filter"></div>
    <div class="container">
      <div class="motto text-center">
        <h1 style="font-size:4rem;font-weight:bolder">Hi,This is <span style="color:red;">AdviceWise</span></h1>
        <h3>Get the best recommendations based on your previous choices</h3>
        <br />
        <a href="register" class="btn btn-outline-neutral btn-round">Get Started</a>
      </div>
    </div>
  </div>
  <div class="main" style="background-image: linear-gradient(45deg,#403B4A,#E7E9BB);">
    <div class="section text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">We provide recommendations for </h2>
            <h5 class="description">We here at advicewise use artificial intelligence to get the most accurate results for your recommendations.The recommendations are based on your previous like of the same product</h5>
            <br>
            <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a>
          </div>
        </div>
        <br/>
        <br/>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img  src="{% static 'img/music.png' %}" style="width:70%;margin-left:18%;">
              <div class="card-body">
                <div class="card-title">Music</div>
                <div class="card-text">Bored out of listening to the same old music. Jam to the new music based on your taste</div>
                <a href="#" class="btn btn-primary">Get started</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="{% static 'img/books.png' %}" style="width:70%;margin-left:18%">
              <div class="card-body">
                <div class="card-title">Music</div>
                <div class="card-text">Loved the previous book you read? Want to read some more similar to that no problem just tell out preference and get hooked to your new book</div>
                <a href="#" class="btn btn-primary">Get started</a>
              </div>
            </div>
          </div>
          <div class="col-md-4" >
            <div class="card">
              <img src="{% static 'img/movies.png' %}"  style="width:70%;margin-left:18%">
              <div class="card-body">
                <div class="card-title">Movies</div>
                <div class="card-text">Tired of scrolling through IMDB. Leave the heavy lifting to us Sit back and enjoy while we suggest the best movies for you</div>
                <a href="#" class="btn btn-primary">Get started</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="section section-dark text-center">
      <div class="container">
        <h2 class="title">Let's talk about us</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar">
                  <img src="{% static 'img/faces/moin.jpeg  ' %}" alt="...">
                </a>
              </div>
              <div class="card-body">
                <a href="#paper-kit">
                  <div class="author">
                    <h4 class="card-title">Moin Khan</h4>
                    <h6 class="card-category">Developer</h6>
                  </div>
                </a>
                <p class="card-description text-center">
                  Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar">
                  <img src="{% static 'img/faces/nausheen.jpeg' %}" alt="...">
                </a>
              </div>
              <div class="card-body">
                <a href="#paper-kit">
                  <div class="author">
                    <h4 class="card-title">Nausheen Fatima</h4>
                    <h6 class="card-category">Developer</h6>
                  </div>
                </a>
                <p class="card-description text-center">
                  A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar">
                  <img src="{% static 'img/faces/erik-lucatero-2.jpg' %}" alt="...">
                </a>
              </div>
              <div class="card-body">
                <a href="#paper-kit">
                  <div class="author">
                    <h4 class="card-title">Robert Orben</h4>
                    <h6 class="card-category">Developer</h6>
                  </div>
                </a>
                <p class="card-description text-center">
                  The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section landing-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="text-center">Keep in touch?</h2>
            <form class="contact-form">
              <div class="row">
                <div class="col-md-6">
                  <label>Name</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-single-02"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Name">
                  </div>
                </div>
                <div class="col-md-6">
                  <label>Email</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-email-85"></i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Email">
                  </div>
                </div>
              </div>
              <label>Message</label>
              <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
              <div class="row">
                <div class="col-md-4 ml-auto mr-auto">
                  <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
